.section.carousel-container {
	padding: 32px;
}

.carousel .carousel-slides-container {
	position: relative;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
	list-style: none;
	margin: 0;
	padding: 0;
}
  
.carousel .carousel-slides {
	display: flex;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	overflow: scroll clip;
	align-items: center;
	margin: 0 2.5rem;
	gap: 16px;
}
  
.carousel .carousel-slides::-webkit-scrollbar {
	display: none;
}
  
.carousel .carousel-slide {
	flex: 0 0 100% ;
	scroll-snap-align: start;
	visibility: visible;
	width: 100%;
}
  
.carousel .carousel-slide .carousel-slide-image {
	margin: 20px 15px;
	max-height: 150px;
}


    
/* hide indicators on all carousels except hero  */
.carousel:not(.hero) .carousel-slide-indicators {
	display: none;
}
  
.carousel.hero .carousel-slide-indicators {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
  
/* hero indicator styles */
.carousel.hero .carousel-slide-indicator span,
.carousel.hero .carousel-navigation-buttons span {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


/* nav buttons (with arrows) */
/* wrappers */
.carousel .carousel-navigation-buttons {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	gap: 4px;
}

.carousel.hero .carousel-navigation-buttons {
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.carousel:not(.hero) .carousel-navigation-buttons {
	top: unset;
	bottom: 0;
	width: fit-content;
}

.carousel.logo .carousel-navigation-buttons {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.carousel.media .carousel-navigation-buttons {
	right: 48px;
	bottom: 48px;
}

/* buttons */
.carousel.hero .carousel-navigation-buttons button {
	width: 40px;
	height: 40px;
	border: 1px solid var(--light-color);
	border-radius: 50%;
	z-index: 999;
	position: relative;
	background-color: var(--charcoal);
  }
  
.carousel:not(.hero) .carousel-navigation-buttons button {
	margin: 0;
	padding: 0;
	width: 24px;
	height: 1rem;
	position: relative;
	background-color: transparent;
	border: none;
}

/*  arrows */
/* hero arrows */
.carousel.hero .carousel-navigation-buttons button::after {
	display: block;
	content: "";
	border: 5px var(--light-color) solid;
	border-bottom: 0;
	border-left: 0;
	height: 0.5rem;
	width: 0.5rem;
	position: absolute;
	top: 50%;
	left: calc(50% + 2px);
	transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel.hero .carousel-navigation-buttons button.slide-next::after {
	transform: translate(-50%, -50%) rotate(45deg);
	left: calc(50% - 2px);
}

/* non-hero arrows */
.carousel:not(.hero) .carousel-navigation-buttons button::after {
	display: block;
	content: "";
	border: 3px rgba(0 0 0 / 100%) solid;
	border-bottom: 0;
	border-left: 0;
	height: 0.45rem;
	width: 0.45rem;
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%) rotate(-135deg);
}

.carousel:not(.hero) .carousel-navigation-buttons button.slide-next::after {
	transform: translateY(-50%) scale(-1) rotate(-135deg);
	left: unset;
	right: 2px;
}

.carousel:not(.hero) .carousel-navigation-buttons button::before {
	display: block;
	content: "";
	border: 1.5px rgba(0 0 0 / 100%) solid;
	width: 9px;
	position: absolute;
	top: 50%;
	left: 1px;
	transform: translateY(-50%);
}

.carousel:not(.hero) .carousel-navigation-buttons button.slide-next::before {
	left: unset;
	right: 1px;
}



/* hero carousel styles */
.carousel.hero > div {

}

/* media carousel styles */
.carousel.media .carousel-slide .carousel-slide-image img {
	display: block;
	object-fit: cover;
}

.carousel.media li {
	min-height: 1080px;
	max-height: 1080px;
}

.carousel.media li .carousel-slide-content {
	padding: 8px 48px;
}

.carousel.media li .carousel-slide-content h5 {
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 8px;
}

.carousel.media li .carousel-slide-content h3 {
	font-size: 32px;
	line-height: 1.1;
	font-weight: 400;
	margin-bottom: 48px;
}

/* even slides - red background */
.carousel.media li:nth-of-type(2n) {
	background-color: var(--innovation-red);
	color: var(--light-color);
}

.carousel.media li:nth-of-type(2n) .carousel-slide-content h3,
.carousel.media li:nth-of-type(2n) .carousel-slide-content h5 {
	color: var(--light-color);
}

.carousel.media li:nth-of-type(2n) .carousel-slide-content {
	position: relative;
}

.carousel.media li:nth-of-type(2n) .carousel-slide-content > .button-container > a::before {
	content: "";
	display: block;
	width: 86px;
	height: 86px;
	margin-right: 4px;
	background: url("https://main--cibc--adobedevxsc.aem.live/images/icon-podcast-play-large-white.png");
}

.carousel.media li .carousel-slide-content p:not(.button-container) {
	font-size: 16px;
	margin-bottom: 32px;
}

.carousel.media li .carousel-slide-content p > a {
	background-color: transparent;
	border-color: transparent;
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 0 0 0 -8px;
	padding: 0;
	font-size: 18px;
	font-family: var(--heading-font-family);
}

.carousel.media li .carousel-slide-content p > a:hover {
	background-color: transparent;
}

.carousel.media li:not(:nth-of-type(2n)) .carousel-slide-content > p.button-container a {
	color: var(--innovation-red);
}
	
.carousel.media li:not(:nth-of-type(2n)) .carousel-slide-content > p.button-container a::before {
	content: "";
	display: block;
	width: 86px;
	height: 86px;
	margin-right: 4px;
	background: url("https://main--cibc--adobedevxsc.aem.live/images/icon-podcast-play-large-red.png");
}





/* quote carousel styles */
.section.quote.carousel-container {
	padding: 32px 16px;
}

.carousel.quote .carousel-navigation-buttons {
	bottom: 16px;
	right: 16px;
	left: unset;
}

.carousel.quote > div .carousel-slides {
	margin: 0;
}

.carousel.quote > div .carousel-slide {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 1000px;
}

.carousel.quote .carousel-slide .carousel-slide-image {
	margin: 0;
	flex: 0 0 50%;
	border-radius: 5000px;
	overflow: hidden;
	max-width: 352px;
	max-height: 352px;
	margin: 15px;
}

.carousel.quote .carousel-slide .carousel-slide-image picture img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.carousel.quote .carousel-slide .carousel-slide-content {
	margin: 0;
	width: 50%;
}

.carousel.quote .carousel-slide .carousel-slide-content h3 {
	color: var(--innovation-red);
	position: relative;
	font-size: 34px;
	font-weight: 400;
    line-height: 1.5;
}

.carousel.quote .carousel-slide .carousel-slide-content h3::after {
	content: "";
	background: url("//main--cibc--adobedevxsc.aem.live/images/double-quotation-mark.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 32px;
	height: 24px;
	display: block;
	position: absolute;
	top: -26px;
	left: 0;
}

.carousel.quote .carousel-slide .carousel-slide-content h4 {
	font-size: 26px;
	color: var(--text-accent-color);
	font-weight: 400;
    line-height: 1.5;
	margin: 0;
}

.carousel.quote .carousel-slide .carousel-slide-content p {
	margin: 0;
	font-size: 18px;
	color: var(--text-accent-color);
	font-family: var(--heading-font-family);
	font-weight: 400;
	line-height: 1.5;
}



/* logo carousel styles */
/* hide spreadsheet service link */
.carousel.is-json > div > .button-container  {
	display: none;
}

.section.logos > .default-content-wrapper h4 {
	margin: 24px 0 32px;
	text-align: center;
    font-size: 34px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: normal;
}

.section.logos.carousel-container {
	padding: 32px 32px 0;
}

.section.logos .carousel-wrapper {
	max-width: 1350px;
}

.carousel.logo .carousel-slide {
	flex: 0 0 25%;
	scroll-snap-align: start;
	visibility: visible;
	max-width: 25%;
}

.carousel.logo .carousel-slide .carousel-slide-image > picture > img {
	height: 100%;
	width: 100%;
	max-height: 135px;
	object-fit: contain;
	display: block;
}

/* quote carousel styles */
.carousel.quote .carousel-slide {
	background-color: var(--grey-highlight);
}



    
  @media (width >= 600px) {
	.carousel .carousel-navigation-buttons {
	  left: 0.5rem;
	  right: 0.5rem;
	}
  
	.carousel .carousel-navigation-buttons button {
	  width: 2rem;
	  height: 2rem;
	}
  
	.carousel .carousel-navigation-buttons button::after {
	  width: 1rem;
	  height: 1rem;
	}
  
	.carousel .carousel-slide .carousel-slide-content {
	  --slide-content-width: 50%;
	  margin: 2.5rem 5rem;
	}
  
	.carousel .carousel-slide .carousel-slide-content[data-align="justify"] {
	  --slide-content-width: auto;
	}
  }


  @media(width <= 1040px){
	.carousel.quote .carousel-slide .carousel-slide-content {
		width: calc(50% - 32px);
		padding: 0 16px;
	}

	.carousel.quote .carousel-slide .carousel-slide-content h3 {
		font-size: 28px;
	}
  }

  @media (width <= 686px) {
	.section.carousel-container {
		padding: 0;
	}

	.carousel .carousel-slides {
		margin: 0 2rem;
	}

	.carousel .carousel-slide {
		flex: 0 0 100%;
		scroll-snap-align: start;
		visibility: visible;
		width: 100%;
	}

	.carousel .carousel-navigation-buttons button::after {
		border: 4px rgba(0 0 0 / 100%) solid;
		border-bottom: 0;
		border-left: 0;
		height: 0.8em;
		width: 0.8rem;
	}

	/* media carousel mobile styles */
	.carousel.media .carousel-slides {
		margin: 0;
	}

	.carousel.media .carousel-slide .carousel-slide-image {
        max-height: 350px;
		margin: 0;
    }

	/* quote carousel mobile styles */
	.carousel.quote > div .carousel-slide {
		flex-direction: column;
	}

	.carousel.quote .carousel-slide .carousel-slide-content {
		width: calc(100% - 32px);
		padding: 0 16px;
	}

	.carousel.quote .carousel-slide .carousel-slide-content h3 {
		font-size: 24px;
	}

	.carousel.quote .carousel-slide .carousel-slide-content h4 {
		font-size: 22px;
	}

	/* logo */
	.carousel.logo .carousel-slide {
		flex: 0 0 50%;
		max-width: 50%;
	}
}